.popup {
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%;

	display: flex;
	align-items: center;

	padding: 10px;

	z-index: 100;

	opacity: 0; visibility: hidden;
	transition: opacity .4s ease, visibility .4s ease;

}

.popup._transition-none {
	transition: none;
}

.popup._transition-none .popup-body {
	transition: none;
}

.popup._active._transition-none .popup-body {
	transition: none;
}

.popup._active {
	opacity: 1; visibility: visible;
}

.popup._active .popup-body {
	transform: translate3d(0,0,0);
	transition: transform .2s ease;
}

.popup-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	min-height: 100%; width: 100%;

	z-index: 2;
}

.popup-bg {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;

	background: rgba(38, 214, 241, 0.8999999761581421);

}

.popup-body {
	margin: auto;
	position: relative;
	
	overflow-y: auto;
	max-height: calc(var(--vh) * 100 - 30px);
	max-width: 538px;
	width: 100%;

	padding: 15px 40px 40px;
	border-radius: 14px;

	z-index: 2;

	border-radius: 12px;
	border: 1px solid #EDEFF3;
	background: #FFF;
	box-shadow: 0px 4px 36px 0px #218696;


}

.popup-close-btn {
	position: absolute;
	right: 15px; top: 15px;
	line-height: 100%;
	width: 40px; height: 40px;
	cursor: pointer;

	background: transparent;
	border: 0;
}

.leave-request-popup {
}

.leave-request-popup__wrapper {
}

.leave-request-popup__bg {
}

.leave-request-popup__body {
	max-height: none;
	padding: 0;
	overflow: visible;
}

.leave-request-popup__close-btn {
	
}

.leave-request-popup__container {
	margin-top: 50px;
	max-height: calc(var(--vh) * 100 - 100px);
	overflow-y: auto;

	padding: 0 16px 16px;
}

@media (min-width: 550px) {
	.leave-request-popup__container {
		padding: 0 40px 40px;
	}
}

.leave-request-popup__title {
	color: #1D1D1B;
	text-align: center;
	font-family: Gilroy;
	font-size: 32px;
	font-weight: 700;
	line-height: 125%;
	margin: 0;
	padding-bottom: 7px;
	position: relative;
	
}

.leave-request-popup__title::before {
	content: '';
	position: absolute;
	left: 50%; bottom: 0;
	transform: translate(-50%,0);
	width: 70%; max-width: 80px; height: 2px;
	background: #ED1C24;
}

.leave-request-popup__text {
	margin-top: 12px;
	color: #1D1D1B;
	text-align: center;
	font-family: Gilroy;
	font-size: 14px;
	font-weight: 400;
	line-height: 142.857%;
}

.leave-request-popup__item {
	display: grid;
	gap: 8px;

	margin-top: 28px;
}

@media (min-width: 550px) {
	.leave-request-popup__item {
		gap: 16px;
		grid-template-columns: 90px auto;
	}
}

.leave-request-popup__item > * {
	align-self: center;
}

.leave-request-popup__item._required > span::after {
	content: '*';
	color: #ED1C24;
}

.leave-request-popup__item > label {
	position: relative;
	display: block;
}

.leave-request-popup__item > label > span {
	position: absolute;
	left: 24px; top: 17px;
	pointer-events: none;
	color: #A5A5A5;
	font-weight: 400;

	transition: opacity .2s ease;
}

.leave-request-popup__item > label > span > b {
	color: #1D1D1B;
	font-weight: 700;
}

.leave-request-popup__item > label > input {
	padding: 17px 24px;
	width: 100%;
	outline: none;

	color: #1D1D1B;
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 400;
	line-height: 125%;

	border-radius: 12px;
	border: 1px solid #EDEFF3;
	background: #FFF;

}

.leave-request-popup__item > label > input::placeholder {
	color: #A5A5A5;
	opacity: 1;
	transition: opacity .2s ease;
}

.leave-request-popup__item > label > input:focus::placeholder {
	opacity: 0;
}

.leave-request-popup__item > label > input:focus + span {
	opacity: 0;
}

.leave-request-popup__item > label > span:first-child + input::placeholder {
	opacity: 0;
}

.leave-request-popup__checkbox {
	display: flex;
	align-items: center;

	cursor: pointer;

	margin-top: 28px;
}

@media (min-width: 550px) {
	.leave-request-popup__checkbox {
		padding-left: 105px;
	}
}

.leave-request-popup__checkbox-input {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.leave-request-popup__checkbox-element {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 20px; height: 20px;
	flex: 0 0 20px;
	margin-right: 8px;

	border-radius: 4px;
	border: 1px solid #1F0F63;

	
}

.leave-request-popup__checkbox-element svg {
	fill: transparent;
	transition: fill .2s ease;
}

.leave-request-popup__checkbox-input:checked + .leave-request-popup__checkbox-element svg {
	fill: #1F0F63;
}



.leave-request-popup__checkbox-text {
	user-select: none;
	color: #1D1D1B;
	font-family: Gilroy;
	font-size: 12px;
	font-weight: 300;
	line-height: 150%;
}

.leave-request-popup__submit {
	margin-top: 28px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%; padding: 16px;

	color: #FFF;
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 500;
	line-height: 125%;

	border-radius: 12px;
	background: #1F0F63;
	box-shadow: 0px 4px 12px 0px rgba(40, 22, 117, 0.30);
	border: 0;
}

.leave-request-popup__submit svg {
	margin-left: 24px;
}
